<div class="content-wrapper ng-scope">
    <div class="container-fluid">
        <div class="container">
            <h2>Altere os campos necessários ou confirme a partida padrão.</h2>
            <p ng-if="formPartida.$invalid && formPartida.$submitted" class="help">Formulário Inválido, preencha todos os campos e tente novamente :)</p>
            <form novalidate name="formPartida" ng-controller="PartidaController">
                <div class="form-group">
                    <label class="label">Dia do Jogo</label>
                    <input class="form-control" type="date" ng-model="partida.diaSemana" name="diaSemana" required>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label class="label">Horário de Inicio</label>
                            <input class="form-control" type="time" ng-model="partida.horaInicio" name="horaInicio" required>
                        </div>
                    </div>


                    <div class="col-sm">
                        <div class="form-group">
                            <label class="label">Horário de Fim</label>
                            <input class="form-control" type="time" ng-model="partida.horaFinal" name="horaFinal" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label class="label">Máximo de Jogadores</label>
                            <input class="form-control" min="1" type="number" ng-model="partida.timeMax" name="timeMax" required>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            <label class="label">Mínimo de Jogadores</label>
                            <input class="form-control" min="1" type="number" ng-model="partida.timeMin" name="timeMin" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="label">Data limite para confirmação de participação</label>
                    <input class="form-control" type="datetime-local" ng-model="partida.tempoConfirmacao" name="tempoConfirmacao" required>
                </div>


                <div class="form-group">
                    <label class="label">Horas limite para avaliação dos jogadores</label>
                    <input class="form-control" type="time" ng-model="partida.tempoAvaliacao" name="tempoAvaliacao" required>
                </div>

                <button class="btn btn-success" ng-disabled="!formPartida.$valid" ng-click="partidaCtrl.criarPartida(partida)">Criar Nova Partida</button>
            </form>
        </div>
    </div>
</div>