<div class="content-wrapper ng-scope">
    <div class="container-fluid">

        <div class="container">

            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Grupo</a>
                </li>
                <li class="breadcrumb-item">Meus Grupos</li>
                <li class="breadcrumb-item">Partida</li>
                <li class="breadcrumb-item active">Times</li>
            </ol>


            <div class="row">
                <div class="col-sm">

                    <div class="container">
                        <div class="card mb-3">
                            <div class="card-header">
                                <i class="fa fa-shield"></i> Time 1</div>
                            <div class="list-group list-group-flush small">
                                <div ng-repeat="jogador in timea">
                                    <timea timea-item="jogador"></timea>
                                </div>
                            </div>
                            <div class="card-footer small text-muted"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm">

                    <div class="container">
                        <div class="card mb-3">
                            <div class="card-header">
                                <i class="fa fa-shield"></i> Time 2</div>
                            <div class="list-group list-group-flush small">
                                <div ng-repeat="jogador in timeb">
                                    <timeb timeb-item="jogador"></timeb>
                                </div>
                            </div>
                            <div class="card-footer small text-muted"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <button class="btn btn-primary btn-lg" ng-click="partidaCtrl.sortearTimes()">Sortear Times</button>
                </div>

                <div class="col-sm" ng-if="partidaCtrl.jaSorteou">
                    <button class="btn btn-success btn-lg" ng-click="partidaCtrl.confirmarPartida()">Confirmar Partida</button>
                </div>

            </div>

            <div class="container">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-users"></i> Jogadores da Partida</div>
                    <div class="list-group list-group-flush small">
                        <div ng-repeat="jogador in jogadores">
                            <jogador jogador-item="jogador"></jogador>
                        </div>

                    </div>
                    <div class="card-footer small text-muted"></div>
                </div>
            </div>
        </div>

    </div>

</div>
</div>