.cor-rosa {
    font-size: 25px;
    color: rgb(228, 48, 111);
}


.cor-cinza{
    font-family: 'Anton', sans-serif;
    font-size: 25px;
    color: rgba(54, 54, 56, 0.774);
}

.top-bar{
    width: 100%;
    position: fixed;

    z-index: 1;
}
.navbar{
    position: relative;
    width: 100%;
    
}

.side-menu{
    width:18%;
    margin-top: -15px;
    margin-left: -40px;
    height: 100%;
    position: fixed !important;
    z-index: 2;

}

.is-green{
    background-color: #46960D!important;  
}

#white{
color: white;
margin-top: -50px;
margin-bottom: 15px;
}
.card{
    background-color: hsl(0, 0%, 21%) !important;
    
}

#stars{
    margin-top: -30px;
}

.profile{
    width: 250px;
    height: 250px;
    padding: 25%;
  

}

.navbar-item{
    margin-left: 250px;
}

.image-profile{
       
 border-radius: 50%;
}