<div ng-if="usuario">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html">
      <img src="arquivos\imagens\logo-grupo-natalia-white-3.png" width="180px" height="30px">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="#!/dashboard">
            <i class="fa fa-fw fa-soccer-ball-o"></i>
            <span class="nav-link-text">Dashboard</span>
          </a>
        </li>

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-users"></i>
            <span class="nav-link-text">Grupos</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseComponents">
            <li>
              <a href="#!/dashboard">Meus Grupos</a>
            </li>
            <li>
              <a href="#!/grupo">Cadastrar Grupo</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents">
            <i class="fa fa-fw  fa-calendar-check-o"></i>
            <span class="nav-link-text">Partidas</span>
          </a>
          <ul class="sidenav-second-level collapse">
            <li>
              <a href="#!/teste">Próximas Partidas</a>
            </li>
            <li>
              <a href="#!/teste">Partidas Jogadas</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <div class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-bell"></i>
            <span class="d-lg-none">Alerts
              <span class="badge badge-pill badge-warning">New</span>
            </span>
            <span class="indicator text-warning d-none d-lg-block">
              <i class="fa fa-fw fa-circle"></i>
            </span>
          </div>
          <div class="dropdown-menu">
            <h6 class="dropdown-header">Novas Partidas</h6>
            <div class="dropdown-divider"></div>
            <div class="dropdown-item">
              <div ng-repeat="notificacao in notificacoes">
                <div style="margin: 10px" ng-repeat="partida in notificacao.usuarioPartida">
                  <span ng-if="partida.solicitacao" class="text-success">
                    <strong>
                      Nova Partida {{ notificacao.grupo.nome }}
                      <button type="button" class="btn btn-success" ng-click="confirmar(partida.id)">
                        Vou!
                      </button>
                      <button type="button" class="btn btn-danger" ng-click="recusar(partida.id)">
                        Não Vou!
                      </button>
                    </strong>
                  </span>
                </div>
              </div>
              <a class="dropdown-item small" href="#self">View all alerts</a>
            </div>
        </li>
        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0 mr-lg-2">
            <div class="input-group">
              <input class="form-control" type="text" placeholder="Pesquisar Por..." name: "search">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </form>
        </li>
        <li class="nav-item">
          <a ng-click="logout()" class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
      </div>
  </nav>
  </div>