<div class="content-wrapper ng-scope">
  <div class="container-fluid">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Grupo</a>
        </li>
        <li class="breadcrumb-item active">Cadastrar Grupo</li>
      </ol>
      <section class="section">
        <h1>Cadastro de Grupo</h1>
        <h6>*Obrigatório</h6>
        <p ng-if="grupoForm.$invalid && grupoForm.$submitted" class="help">Formulário Inválido, preencha todos os campos com atenção e tente novamente.</p>
        <form name="grupoForm" ng-controller="GrupoController">
          <div class="field">
            <label class="label">Nome do grupo:
          <small>*</small>
        </label>
            <p class="form-group">
              <input class="form-control" type="text" placeholder="Name" ng-model="grupo.nome" name="nome" ng-minlength=3 ng-maxlength=255
                required>
              <p ng-if="grupoForm.nome.$invalid && grupoForm.$submitted" class="help">Nome inválido</p>
            </p>
          </div>

          <div class="row">
            <div class="col-sm">
              <label class="label">Horário de inicio das partidas:
            <small>*</small>
          </label>

              <div class="form-group">
                <input class="form-control is-success" type="time" ng-model="grupo.horaInicio" name="horaInicio" required>
              </div>
            </div>

            <div class="col-sm">
              <label class="label">Horário de término:
            <small>*</small>
          </label>

              <div class="form-group">
                <input class="form-control is-danger" type="time" ng-model="grupo.horaFinal" name="horaFinal" required>
              </div>
            </div>
          </div>

          <div class="row">
          <div class="col-sm">
              <label class="label">Mínimo de jogadores:
            <small>*</small>
          </label>
              <div class="form-group">
                <input class="form-control" type="number" min="1" ng-model="grupo.timeMin" name="timeMin" required>
              </div>
            </div>
          

            <div class="col-sm">
              <label class="label">Máximo de jogadores:
            <small>*</small>
          </label>
              <div class="form-group">
                <input class="form-control" min="1" type="number" ng-model="grupo.timeMax" name="timeMax" required>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm">

              <div class="form-group">

                <label class="label">Dia das partidas:
              <small>*</small>
            </label>

                <div class="form-group">
                  <div class="control">
                    <div class="select is-fullwidth">
                      <select class="form-control" ng-model="grupo.diaSemana" name="diaSemana" required>
                        <option value="1">Segunda</option>
                        <option value="2">Terça</option>
                        <option value="3">Quarta</option>
                        <option value="4">Quinta</option>
                        <option value="5">Sexta</option>
                        <option value="6">Sábado</option>
                        <option value="7">Domingo</option>
                  </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm">

              <div class="field">

                <label class="label">Dia limite para confirmar partida:
              <small>*</small>
            </label>

                <div class="form-group">
                  <div class="control">
                    <div class="select is-fullwidth">
                      <select class="form-control" ng-model="grupo.diasConfirmacao" name="diasConfirmacao" required>
                    <option value="1">Segunda</option>
                    <option value="2">Terça</option>
                    <option value="3">Quarta</option>
                    <option value="4">Quinta</option>
                    <option value="5">Sexta</option>
                    <option value="6">Sábado</option>
                    <option value="7">Domingo</option>
                  </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm">
              <label class="label">Hora limite para confirmar participação:
            <small>*</small>
          </label>

              <div class="form-group">
                <input class="form-control" type="time" ng-model="grupo.horasConfirmacao" name="horasConfirmacao" required>
              </div>
            </div>

            <div class="col-sm">
              <label class="label">Tempo para avaliação dos jogadores (mantenha 00:00 para 24h):
            <small>*</small>
          </label>

              <div class="form-group">
                <input class="form-control" type="time" ng-model="grupo.tempoAvaliacao" name="tempoAvaliacao" required>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="label" for="endereco">Endereço dos Jogos:</label>

            <input id="autocomplete" class="form-control form-group" placeholder="Ex: Avenida Theodomiro Porto da Fonseca, 3601" class="form-control" type="text" ng-model="localizacao" required>
          </div>

          <button type="submit" ng-disabled="!grupoForm.$valid" class="btn pull-right btn-success" ng-click="grupoCtrl.alterarGrupo(grupo)">
        Salvar
      </button>
        </form>
    </div>