<div class="content-wrapper ng-scope">
        <div class="container-fluid">
<div class="container">

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Grupo</a>
        </li>
        <li class="breadcrumb-item">Meus Grupos</li>
        <li class="breadcrumb-item active">Nome do Grupo Aqui</li>
    </ol>
    <div class="row">

        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-success o-hidden">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fa fa-fw fa-calendar-plus-o"></i>
                    </div>
                    <div class="mr-5">Nova Partida!</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="#">
                    <span class="float-left">Adicionar</span>
                    <span class="float-right">
                        <i class="fa fa-angle-right"></i>
                    </span>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-primary o-hidden">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fa fa-fw fa-calendar"></i>
                    </div>
                    <div class="mr-5">Partidas Anteriores</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="#">
                    <span class="float-left">Veja Mais</span>
                    <span class="float-right">
                        <i class="fa fa-angle-right"></i>
                    </span>
                </a>
            </div>
        </div>

    </div>

    <div class="column">
        <div class="hero">
            <div class="hero-body">

                <a type="button" class="btn btn-primary" ng-click="grupoCtrl.mostrarAdicionarJogador()">
                    <span class="icon  is-large fa fa-2x">
                        <i class="fa fa-users"></i>
                    </span>
                    <span>Adicionar Jogador</span>
                </a>


                <div ng-show="grupoCtrl.isAdicionarJogador">
                    <div class="field">
                        <label class="label">Email do Jogador</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="email" placeholder="email@email.com" ng-model="email" name="email" required>
                            <span class="icon is-small is-left">
                                <i class="fa fa-envelope"></i>
                            </span>

                        </div>
                    </div>

                    <div class="field">
                        <p class="buttons has-addons is-right">
                            <button class="button is-success is-right" ng-click="grupoCtrl.convidar(email)">
                                Enviar Convite
                            </button>
                        </p>
                    </div>
                </div>


                <a class="subtitle">
                    <span class="icon is-large fa fa-2x">
                        <i class="fa fa-futbol-o"></i>
                    </span>
                    <span>Adicionar Partida</span>
                </a>


                <a ng-click="" class="subtitle">
                    <span class="icon is-large fa fa-2x">
                        <i class="fa fa-bar-chart"></i>
                    </span>
                    <span>Partidas Jogadas</span>
                </a>
            </div>
        </div>


        <div class="container">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-users"></i> Participantes do Grupo</div>
                <div class="list-group list-group-flush small">
                    <a class="list-group-item list-group-item-action" href="#">
                        <div class="media">
                            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                            <div class="media-body">
                                <strong>David Miller</strong>posted a new article to
                                <strong>David Miller Website</strong>.
                                <div class="text-muted smaller">Today at 5:43 PM - 5m ago</div>
                            </div>
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-action" href="#">
                        <div class="media">
                            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                            <div class="media-body">
                                <strong>Samantha King</strong>sent you a new message!
                                <div class="text-muted smaller">Today at 4:37 PM - 1hr ago</div>
                            </div>
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-action" href="#">
                        <div class="media">
                            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                            <div class="media-body">
                                <strong>Jeffery Wellings</strong>added a new photo to the album
                                <strong>Beach</strong>.
                                <div class="text-muted smaller">Today at 4:31 PM - 1hr ago</div>
                            </div>
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-action" href="#">
                        <div class="media">
                            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                            <div class="media-body">
                                <i class="fa fa-code-fork"></i>
                                <strong>Monica Dennis</strong>forked the
                                <strong>startbootstrap-sb-admin</strong>repository on
                                <strong>GitHub</strong>.
                                <div class="text-muted smaller">Today at 3:54 PM - 2hrs ago</div>
                            </div>
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-action" ng-click="grupoCtrl.mostrarAdicionarJogador()">
                        <i class="fa fa-user-plus"></i> <span ng-show="!grupoCtrl.isAdicionarJogador"> Adicionar Integrante...</span>
                        
                        <div ng-show="grupoCtrl.isAdicionarJogador">
                                <label>Email do Jogador</label>
                                <div class="control has-icons-left has-icons-right">
                                    <input class="form-control" type="email" placeholder="email@email.com" ng-model="email" name="email" required>
                                
                                    <button class="btn btn-success" ng-click="grupoCtrl.convidar(email)">
                                        Enviar Convite
                                    </button>
                                </div>    
                        </div>
                    </a>
                </div>
                <div class="card-footer small text-muted"></div>
            </div>
        </div>
    </div>

</div>


<button type="button" class="btn btn-secondary" ng-click="grupoCtrl.openModalEdicao(s)">
    <span class="icon is-small">
        <i class="fa fa-gear"></i>
    </span>
    <span>Editar Grupo</span>
</button>

</div>
</div>

</div>
</div>